.custom-jumbotron {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: transform 0.2s;
}

.custom-jumbotron:hover {
    transform: translateY(-5px);
}

.quote {
    font-family: 'Arizonia';
    color: #333;
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
