.navbar {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: #333;
}

.nav-link {
    color: #555;
    padding: 0.5rem 1rem;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #7b5cf6;
}


.navbar-toggler {
    border: none;
    padding-right: 0;
}